{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<h1 class="text-center">Administration</h1>

<div class="d-flex flex-direction-row w-100">
    <div class="w-25 h-75">
        <ul class="nav flex-sm-column w-50">
            <li class="nav-item">
                <button class="btn btn-dark w-100" id="buttonUser">User</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-dark w-100" id="buttonToken">Token</button>
            </li>
        </ul>
    </div>

    <div class="w-50">
         <table id="allUser" class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Mail</th>
                    <th scope="col">Role</th>
                    <th scope="col">Name</th>
                    <th scope="col">Firstname</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users%}
                <tr>
                    <td>{{user.email}}</td>
                    <td>
                        {% for role in user.roles %}
                            <span>{{ role }}</span>
                        {% endfor %}
                    </td>
                    <td>{{user.name}}</td>
                    <td>{{user.firstname}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="allToken" class="inactive">
            <button class="btn btn-dark">
                <a href="/admin/new_token">Ajouter un crypto</a>
            </button>
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Acronyme</th>
                        <th scope="col">Crée le </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for token in tokens%}
                    <tr>
                        <td>{{ token.name}}</td>
                        <td>{{ token.slug}}</td>
                        <td>{{ token.createdAt | date("d/m/Y")}}</td>
                        <td>
                            <a href="{{ path('token_delete', {'id': token.id, csrf: csrf_token('delete')}) }}">delete</a>
                            <a href="{{ path('token_edit', {'id': token.id}) }}">update</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}


