{% extends 'base.html.twig' %}

{% block title %}Nouveau token{% endblock %}

{% block body %}
<h1 class="text-center">Nouveau token</h1>

{{ form_start(form)}}
    {{ form_widget(form) }}
{{ form_end(form)}}


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}


