{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
<h1>{{ controller_name }}</h1>

<table id="tableToken" class="table table-dark table-striped table-hover w-75">
    <thead>
        <tr>
            <th scope="col">Token</th>
            <th scope="col">Slug</th>
            <th scope="col">Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for token in tokens %}
        <tr>
            <td>{{ token.slug }}</td>
            <td>{{ token.name }}</td>
            <td>{{ token.price | number_format(2, '.', ',') }}</td>
            <td data-token="{{ token.slug }}">
                <button class="btn btn-primary buttonBuy">Buy</button>
                <button class="btn bg-primary buttonBuy">Sell</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <form class="formBuy inactive" action="{{path('order')}}" method="post">
        <fieldset>         
            <legend>Ticket d'ordre</legend>
            <div class="mb-3">
                <label for="orderType" class="form-label">Sens</label>
                <input class="form-control" name="type" id="orderType" type="text" readonly>
            </div>
            <div class="mb-3">
                <label for="orderToken" class="form-label">Token</label>
                <input class="form-control" name="token" id="orderToken" type="text" readonly>
            </div>
            <div class="mb-3">
                <label for="orderPrice" class="form-label">Price</label>
                <input class="form-control" name="price" id="orderPrice" type="text" readonly>
            </div>
            <div class="mb-3">
                <label for="orderNumber" class="form-label">Nombre</label>
                <input type="number" name="numberToken" class="form-control" id="orderNumber" required>
            </div>
            <button type="submit" class="btn btn-primary">Passer l'ordre</button>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('market') }}
{% endblock %}


