@import '~bootstrap/scss/bootstrap';

$primary: #46c46e;
$secondary: #0c0807;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    color: black;
    background-color: $primary;
}

span {
    color: blue;
}

footer, header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 30px 0;
}

button {
    margin: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
    width: 90%;
}

form.inactive,
table.inactive,
div.inactive {
    display: none;
}

// HEADER
header div.nav-log {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav li.nav-item,
header button.btn {
    background-color: $primary;
}

