<header  class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="btn nav-item">
                <a class="nav-link" href="/market">Market</a>
              </li>
              <li class="btn nav-item">
                <a class="nav-link" href="/wallet">Wallet</a>
              </li>
              <li class="btn nav-item">
                <a class="nav-link" href="/user">Profil</a>
              </li>
              {% if is_granted("ROLE_ADMIN") %}
              <li class="btn nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>
    <div class="nav-log">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <button type="button" class="btn"><a href="/logout">Logout</a></button>
        {% else %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn me-md-2"><a href="/login">Login</a></button>
          <button type="button" class="btn"><a href="{{ path('app_register')}}">Register</a></button>
        </div>
        {% endif %}
    </div>
</header>
