{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<h1>{{ controller_name }}</h1>

<table id="allUser" class="table table-dark table-striped table-hover w-75">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Token</th>
                <th scope="col">Number</th>
                <th scope="col">Price</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
            <tr>
                <td>{{trade.createdAt  | date("d/m/Y")}}</td>
                <td>{{trade.token}}</td>
                <td>{{ trade.number }}</td>
                <td>{{ trade.price}}</td>
                <td>{{ trade.typeOrder}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
{% endblock %}
