{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
         <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('user_index') }}">back to list</a>

{% endblock %}
